<div class="gallery">
{{#albums}}
  <div class="album">
    <h3>{{name}}</h3>
    <ul>
      {{#photos}}
      <li><a href="{{{path}}}"><img src="{{{path}}}" width="{{width}}px" height="{{height}}px" alt="Photo from '{{name}}' gallery by Your Exclusive Build Ltd." /></a></li>
      {{/photos}}
    </ul>
  </div>
{{/albums}}
</div>
